<a href="https://colab.research.google.com/github/Sanvee0306/Assignments_DS/blob/main/Assign_Company_data_Random_Forest_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [56]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [ ]:
company = pd.read_csv("/content/Company_Data.csv")

In [ ]:
company

     Sales  CompPrice  Income  Advertising  ...  Age  Education Urban   US
0     9.50        138      73           11  ...   42         17   Yes  Yes
1    11.22        111      48           16  ...   65         10   Yes  Yes
2    10.06        113      35           10  ...   59         12   Yes  Yes
3     7.40        117     100            4  ...   55         14   Yes  Yes
4     4.15        141      64            3  ...   38         13   Yes   No
..     ...        ...     ...          ...  ...  ...        ...   ...  ...
395  12.57        138     108           17  ...   33         14   Yes  Yes
396   6.14        139      23            3  ...   55         11    No  Yes
397   7.41        162      26           12  ...   40         18   Yes  Yes
398   5.94        100      79            7  ...   50         12   Yes  Yes
399   9.71        134      37            0  ...   49         16   Yes  Yes

[400 rows x 11 columns]

In [ ]:
#Creating Dummy Variables.
company = pd.get_dummies(company,columns=['ShelveLoc','US','Urban'],drop_first=True)

In [ ]:
def norm_func(i):
  x=(i-i.min())/(i.max()-i.min())
  return(x)

In [ ]:
df_norm1 = norm_func(company.iloc[:,1:])
df_norm1.tail(10)

     CompPrice    Income  Advertising  ...  ShelveLoc_Medium  US_Yes  Urban_Yes
390   0.316327  0.545455     0.310345  ...               1.0     1.0        1.0
391   0.775510  0.424242     0.000000  ...               0.0     0.0        1.0
392   0.530612  0.212121     0.448276  ...               0.0     1.0        1.0
393   0.326531  0.303030     0.344828  ...               1.0     1.0        0.0
394   0.540816  0.373737     0.655172  ...               0.0     1.0        1.0
395   0.622449  0.878788     0.586207  ...               0.0     1.0        1.0
396   0.632653  0.020202     0.103448  ...               1.0     1.0        0.0
397   0.867347  0.050505     0.413793  ...               1.0     1.0        1.0
398   0.234694  0.585859     0.241379  ...               0.0     1.0        1.0
399   0.581633  0.161616     0.000000  ...               0.0     1.0        1.0

[10 rows x 11 columns]

In [ ]:
feature_cols = ['Sales','Income','Advertising','Population','Price','Age','Education']

In [ ]:
label = ['CompPrice']

In [ ]:
X = company[feature_cols] # Features

In [ ]:
y = company[label] # Target variable

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [67]:
from sklearn.ensemble import RandomForestClassifier as RF

In [68]:
forest = RF(n_estimators=100,max_depth=10,min_samples_split=20,criterion='entropy')

In [70]:
forest.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=10, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=20,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [71]:
model = RF(criterion = 'entropy',max_depth=3)

In [73]:
model.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=3, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [75]:
print('Train accuracy: {}'.format(forest.score(X_train, y_train)))
print('Test accuracy: {}'.format(forest.score(X_test, y_test)))

Train accuracy: 0.6214285714285714
Test accuracy: 0.025

In [76]:
forest_new = RF(n_estimators=100,max_depth=10,min_samples_split=20,criterion='gini')

In [77]:
forest_new.fit(X_train,y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=10, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=20,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [79]:
print('Train accuracy: {}'.format(forest_new.score(X_train, y_train)))
print('Test accuracy: {}'.format(forest_new.score(X_test, y_test)))

Train accuracy: 0.7642857142857142
Test accuracy: 0.016666666666666666