<a href="https://colab.research.google.com/github/Sanvee0306/Assignments_DS/blob/main/Assign_Fraud_Check_Random_Forest_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import datasets  
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn import preprocessing

In [4]:
fraud = pd.read_csv("/content/Fraud_check.csv")

In [5]:
fraud.head()

  Undergrad Marital.Status  ...  Work.Experience  Urban
0        NO         Single  ...               10    YES
1       YES       Divorced  ...               18    YES
2        NO        Married  ...               30    YES
3       YES         Single  ...               15    YES
4        NO        Married  ...               28     NO

[5 rows x 6 columns]

In [6]:
#Creating Dummy Variables.
fraud = pd.get_dummies(fraud,columns=['Undergrad','Marital.Status','Urban'],drop_first=True)

In [7]:
fraud

     Taxable.Income  City.Population  ...  Marital.Status_Single  Urban_YES
0             68833            50047  ...                      1          1
1             33700           134075  ...                      0          1
2             36925           160205  ...                      0          1
3             50190           193264  ...                      1          1
4             81002            27533  ...                      0          0
..              ...              ...  ...                    ...        ...
595           76340            39492  ...                      0          1
596           69967            55369  ...                      0          1
597           47334           154058  ...                      0          1
598           98592           180083  ...                      0          0
599           96519           158137  ...                      0          0

[600 rows x 7 columns]

In [8]:
fraud["TaxInc"] = pd.cut(fraud["Taxable.Income"],bins= [10002,30000,99620], labels=["Risky","Good"])

In [9]:
fraud["TaxInc"]

0      Good
1      Good
2      Good
3      Good
4      Good
       ...
595    Good
596    Good
597    Good
598    Good
599    Good
Name: TaxInc, Length: 600, dtype: category
Categories (2, object): ['Risky' < 'Good']

In [10]:
fraud  = pd.get_dummies(fraud,columns = ["TaxInc"],drop_first=True)

In [11]:
fraud.tail(10)

     Taxable.Income  City.Population  ...  Urban_YES  TaxInc_Good
590           43018            85195  ...          1            1
591           27394           132859  ...          1            0
592           68152            75143  ...          0            1
593           84775           131963  ...          1            1
594           47364            97526  ...          1            1
595           76340            39492  ...          1            1
596           69967            55369  ...          1            1
597           47334           154058  ...          1            1
598           98592           180083  ...          0            1
599           96519           158137  ...          0            1

[10 rows x 8 columns]

In [12]:
def norm_func(i):
  x=(i-i.min())/(i.max()-i.min())
  return(x)

In [13]:
df_norm = norm_func(fraud.iloc[:,1:])
df_norm.tail(10)

     City.Population  Work.Experience  ...  Urban_YES  TaxInc_Good
590         0.341473         0.466667  ...        1.0          1.0
591         0.615406         0.600000  ...        1.0          0.0
592         0.283703         0.533333  ...        0.0          1.0
593         0.610256         0.333333  ...        1.0          1.0
594         0.412341         0.300000  ...        1.0          1.0
595         0.078811         0.233333  ...        1.0          1.0
596         0.170058         0.066667  ...        1.0          1.0
597         0.737240         0.000000  ...        1.0          1.0
598         0.886810         0.566667  ...        0.0          1.0
599         0.760683         0.533333  ...        0.0          1.0

[10 rows x 7 columns]

In [14]:
x = df_norm.drop(['TaxInc_Good'],axis=1)
y = df_norm['TaxInc_Good']

In [15]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state=0)

In [16]:
from sklearn.ensemble import RandomForestClassifier as RF

In [17]:
forest = RF(n_estimators=100,max_depth=10,min_samples_split=20,criterion='entropy')

In [18]:
forest.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=10, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=20,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [19]:
model = RF(criterion = 'entropy',max_depth=3)

In [20]:
model.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=3, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [21]:
print('Train accuracy: {}'.format(forest.score(x_train, y_train)))
print('Test accuracy: {}'.format(forest.score(x_test, y_test)))

Train accuracy: 0.79375
Test accuracy: 0.7916666666666666

In [22]:
forest_new = RF(n_estimators=100,max_depth=10,min_samples_split=20,criterion='gini')

In [23]:
forest_new.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=10, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=20,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [24]:
print('Train accuracy: {}'.format(forest_new.score(x_train, y_train)))
print('Test accuracy: {}'.format(forest_new.score(x_test, y_test)))

Train accuracy: 0.8020833333333334
Test accuracy: 0.7916666666666666